CleanArchitecture/Project3/.vs/Project3/DesignTimeBuild
CleanArchitecture/Project3/.vs/Project3/FileContentIndex
CleanArchitecture/Project3/.vs/Project3/v17
CleanArchitecture/Project3/.vs/ProjectEvaluation
CleanArchitecture/Project3/API/bin/Debug/net7.0
CleanArchitecture/Project3/API/obj/Debug/net7.0
CleanArchitecture/Project3/Application/bin/Debug/net7.0
CleanArchitecture/Project3/Application/obj/Debug
CleanArchitecture/Project3/Domain/bin/Debug
CleanArchitecture/Project3/Domain/obj/Debug/net7.0
CleanArchitecture/Project3/Infrastructure/bin/Debug
CleanArchitecture/Project3/Infrastructure/obj/Debug/net7.0
